{% extends '_layouts/base.njk' %}

{% block page_title %}Capt. McGillicuty's Blog{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <h1>Pirate's Plan for Peace</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p>
        We as pirate's are fighting the stigma against us. The image of the stereotypical Pirate that the media has portrayed for years paints us as dirty, evil and uncaring of anything other than treasure and glory. While we admit, that yes some of us do enjoy these things, we are also more dynamic characters with well-rounded interests and goals outside of the normal pirate lifestyle. And that's why I started this blog. To create a safe space for myself and others to express ourselves and show to the world who we are as pirates, beyond the image that has been displayed for society as we journey across the ocean on our ship. Enjoy the reads.
      </p>
      {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
